[submodule "s-scripts"]
	path = s-scripts
	url = https://github.com/BrightcoveLearning/s-scripts
  branch = main
[submodule "_includes/s-media"]
	path = _includes/s-media
	url = https://github.com/BrightcoveLearning/s-media
  branch = main
[submodule "assets/images/s-media-img"]
	path = assets/images/s-media-img
	url = https://github.com/BrightcoveLearning/s-media-img
  branch = main