<header>
  <div class="div-header">
    <!-- TODO - change logo to current product -->
    <!-- <a href="/"><img class="product-logo" src="/assets/images/site/product-logos/beacon-logo-ondark.png" alt="product logo"></a> -->
    <span class="secondary-nav"><a href="https://support.brightcove.com/contact-support">Contact Support</a> <span style="vertical-align: top;">|</span> <a href="https://status.brightcove.com/">System Status</a></span>
    <span style="margin-left: 1em;line-height: 4em;">BRIGHTCOVE CAMPAIGN</span>
  </div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb arr-right">
      {% if page.parent %}
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      {% endif %}
      {% if page.grandparent_name %}
      <li class="breadcrumb-item"><a href="{{ page.grandparent_path }}">{{ page.grandparent_name }}</a></li>
      {% endif %}
      {% if page.parent and page.parent != "Home" %}
      <li class="breadcrumb-item"><a href="{{ page.dir }}">{{ page.parent }}</a></li>
      {% endif %}
      <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
    </ol>
  </nav>
</header>