<!-- complete bootstrap layout -->
    </div>
    <div class="col-lg-2 right-side-bar">
      <div class="side-nav-container">
          <script src="​https://assets.talla.com/latest/embeddedjs/talla.js​"></script>
          <script type="text/javascript">
          var token = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50Ijp7InVpZCI6ImM4ZjZiYWRkYmJjYjlmZDE0ZTA1OWY5NGVjY2M4ZDkxIiwiZmlyc3RfbmFtZSI6ImpvaG4iLCJsYXN0X25hbWUiOiJkb2UiLCJlbWFpbCI6Impkb2VAdGFsbGEuY29tIn0sImlhdCI6MTU3NDI3Mzg2MH0.FtzdyTHis-1iM3QJYgshKznZF5DhhbCQpKgA3UPtJ-4"
             Talla.widget = Talla.init(
          '[404b41f3-bc83-4415-b43c-ca8bec02a7ec]', 
          Talla.OptionQuickLoadBeacon, 
          Talla.OptionBotName("Questions?")
          )
          
          Talla.widget.display(Talla.OptionJWTCredentials(token)) 
          </script>
      </div>
      {% if page.name != 'index.html' %}
      <nav class="right-side-nav">
        <h6 class="toc">Page Contents</h6>
        <ul id="in_page_nav" class="list-none"></ul>
      </nav>
      {% endif %}
    </div>
  </div>
</div>
