---
title: Reviewing the Dashboard
parent: home
description: The Brightcove Campaign&trade; Dashboard provides a high-level overview of how your published videos are performing.
---

<!-- Template for section that has just pages -->
{% for item in site.data.navigation %}
  {% if item.name == page.title %}
  <h1><i class="{{ item.icon }}"></i> {{ page.title }}</h1>
  <article class="bcls-article">
    <summary>{{ page.description }}</summary>

    <div class="col-12 col-lg-4 py-3">
      <div class="card shadow-sm" style="background: white" onclick="window.location.href = '{{ item.url }}'">
        <div class="card-body">
          <section class="flex-container">
            <div>
              <ul class="list-group list-group-flush">
                {% for entry in item.docs %}
                <li class="list-group-item"><a href="{{ entry.url }}" style="text-decoration: none;">{{ entry.name }}</a></li>
                {% endfor %}
              </ul>
            </div>
          </section>
        </div>
      </div>
    </div>
  {% endif %}
{% endfor %}
</article>
<!-- <article class="bcls-article"> 
  <h1>Reviewing the Dashboard</h1>
  <summary>{{ page.description }}</summary>
  <section class="bcls-section">
    <ul>
      <li><a href="dashboard-overview.html">Overview of the Brightcove Campaign Dashboard</a></li>
      <li><a href="reviewing-adv-dashboard.html">Reviewing the Advanced Dashboard</a></li>
      <li><a href="reviewing-basic-dashboard.html">Reviewing the Basic Dashboard</a></li>
    </ul>
  </section>
</article> -->
